# -----------------------------------------------------------------
// PORT AND OTHER
# -----------------------------------------------------------------

NODE_ENV
PORT
MONGODB_URI
RATE_LIMIT_WINDOW_MS
RATE_LIMIT_MAX
ADMIN_SUPER_KEY
DEAFULT_ROUTE
CORS_ORIGIN
CLIENT_URL

BACKEND_URI

# -----------------------------------------------------------------
// TOKEN SECRET AND EXPIRY
# -----------------------------------------------------------------

ACCESS_TOKEN_SECRET
REFRESH_TOKEN_SECRET
ACCESS_TOKEN_EXPIRY
REFRESH_TOKEN_EXPIRY

# -----------------------------------------------------------------
// BREVO API AND PORT
# -----------------------------------------------------------------

BREVO_API_KEY
BREVO_SENDER_NAME
BREVO_SENDER_EMAIL

# -----------------------------------------------------------------
// GOOGLE CALLBACKE, API_KEY, ID
# -----------------------------------------------------------------

GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL
